
.form-container{
    background:rgb(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container form{
    margin:1rem;
    padding:1rem;
    border-radius: .5rem;
    background: rgb(0,0,0,.3);
    width:30rem;
  }
  
  .form-container form h3{
    font-size: 2rem;
    color:#ffa500;
    text-transform: uppercase;
    text-align: center;
  }
  
  .form-container form .box{
    width:93%;
    padding:1rem;
    font-size: 1rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
  }
  
  .form-container form .btn{
    display: block;
    font-size: 1.2rem;
    width: 50%;
    margin-left: 25%;
    padding: .6rem;
    margin-top: .6rem;
    background-color: #ffa500;
    color: #fff;
  }

  .form-container form .btn:hover{
    cursor: pointer;
    background-color: #ac853e;
  }
  
  .form-container form p{
    font-size: 1.5rem;
    color:#fff;
  }
  
  .form-container form p a{
    color: #ffa500;
    text-decoration: none;
  }
  
  .form-container form p a:hover{
    color: #ac853e;
    text-decoration: underline;
  }
  
  