{% extends "base.html" %}

{% block title %} QTrip Booking {% endblock title %}

{% block body %}

<div class="container">
    <div class="content">
        <h1>Your Reservations</h1>
        <br />

        <div class="alert alert-dark" role="alert" id="no-reservation-banner">
            Oops! You have not made any reservations yet! (Click
            <a href="../../../"><strong>here</strong></a>
            to explore some cities)
        </div>
        <div class="row" id="reservation-table-parent">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Booking Name</th>
                        <th scope="col">Adventure</th>
                        <th scope="col">Person(s)</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Booking Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="reservation-table">

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}

{% block js %}

<script type="module">
    import {
        fetchReservations, addReservationToTable
    } from "/static/booking/js/booking.js";
    (async function () {
        const reservations = await fetchReservations();
        addReservationToTable(reservations);
    })();

</script>

{% endblock js %}

