  .content {
    padding: 100px 0px;
  }
  

  #adventure-name {
    font-size: 3rem;
    font-weight: 600;
  }
  /* activity-detail page css */
  
  .adventure-detail-card {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 16px;
    /* margin: 8px; */
    width: 100%;
  }

  .adventure-detail-card h5{
    font-size: 2.6rem;
    font-weight: 600;
  }
  
  .activity-card-image {
    height: 500px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    border-radius: 2px;
  }
  .activity-card-image:hover {
    -webkit-filter: brightness(50%);
  }
  .experience-content ul li {
    margin-left: 16px;
    padding: 0;
  }
  
  .reserve-button {
    font-size: 2rem;
    width: 100%;
    border: none;
    background-color: rgb(255, 145, 0);
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .reserve-button:hover {
    background-color: rgb(226, 129, 1);
  }
  
  #reserved-banner {
    display: none;
  }
  
  #carouselExampleIndicators {
    width: 100%;
  }
  #reservation-panel-sold-out {
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 30px;
  }
  #reservation-panel-available {
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 30px;
  }

  a{
    text-decoration: none !important;
  }
  
  #adventure-content {
    font-size: 1.6rem;
  }

 #myForm label{
  font-size: 2rem;
  font-weight: 500;
 }

 .form-control{
  font-size: 1.6rem !important;
 }

 #myForm div>div>h6{
  font-size: 2rem;
 }

 #reservation-person-cost{
  font-size: 1.8rem;
 }

 #reservation-panel-sold-out{
  display: none;
 }