.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;} /* Green */
.alert.info {background-color: #2196F3;} /* Blue */
.alert.warning {background-color: #ff9800;} /* Orange */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
