<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QTrip Register</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/static/user/css/style.css">
</head>
<body>

    <div class="form-container">

        <form action="/user/loginCustomer" method="POST">
            {% csrf_token %}
            <h3>login</h3>
            <input type="email" class="box" placeholder="enter your email" name="loginemail" required>
            <input type="password" class="box" placeholder="enter your password" name="loginpass" required>
            <input type="submit" value="login now" class="btn">
            <input type="checkbox" id="remember">
            <label for="remember">remember me</label>
            <p>forget password? <a href="#">click here</a></p>
            <p>don't have and account? <a href="/user/registerPage">register now</a></p>
        </form>
    
    </div>
    
</body>
</html>





